
html{
    scroll-behavior: smooth !important; /* navbar smooth scrolling */
    scrollbar-width: none !important;  /* removes scrollbar */
}

/* Dark Mode (default) */

:root{
    --highlight-color: #ff4c4c;
    --background-color: #0d0d0d;
    --section-color: #1a1a1a;
    --text-color: #d0d0d0;
    --border-color: 1px solid #222;
    --item-color: #1f1f1f;
    --shadow-box: 0 4px 8px rgba(0, 0, 0, 0.5);
    --hover-color: #ff6666;
    --highlight-glow: 0 0 10px rgba(255, 76, 76, 0.7);
}


/* Light Mode */
[data-theme="light"]{
    --highlight-color: #ff7e5f; /* Coral */
    --background-color: #f5f5f5; /* Light Gray */
    --section-color: #ffffff; /* White */
    --text-color: #333333; /* Dark Gray */
    --border-color: 1px solid #ddd; /* Light Gray */
    --item-color: #e0e0e0; /* Light Gray */
    --shadow-box: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    --hover-color: #ff9f80; /* Lighter Coral */
}

/* .header h1, .about-me h2, .education h2, .skills h2, .projects h2, .contact h2 {
    text-shadow: var(--highlight-glow);
} */

body{
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Toggle Switch Styles */
.toggle-switch {
    position: relative;
    display: inline-block;

    /* important to resize toggle */
    width: 40px;
    height: 20px;
    /* --- */

    margin: 0.1rem 0 0 0;
}
  
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--item-color);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";

    /* important to resize toggle */
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    /* --- */

    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--highlight-color);
}

input:checked + .slider:before {
    /* important to resize toggle */
    transform: translateX(20px);
}


/* Navbar Styles */
.navbar {
    background-color: var(--section-color);
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem auto; /* Center the div */
    max-width: 800px;
    width: 90%;

    /* Sticky nav bar when scrolling down */
    /* position: sticky; 
    top: 0; 
    z-index: 1000; 
    transition: background-color 0.3s, box-shadow 0.3s; */
}

.navbar ul {
    list-style-type: none; /* Remove Dots from list */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
    box-shadow: var(--highlight-glow);
}


/* Make main-container and header 100vh and centered */
.main-container{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    margin-bottom: 1rem;
}

h1 {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 2px;
}

.animation-typing{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    letter-spacing: 2px;

}

/* About Me styles */
.about-me {
    background-color: var(--section-color);
    color: var(--text-color);
    padding: .5rem 2rem 2rem 2rem;
    margin: 2rem auto; /* Center the div */
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    max-width: 800px; /* Set a maximum width */
    width: 90%; /* Ensure it looks good on smaller screens */
    text-align: left;
    height: 50%;
}

.about-me h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-me p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
}

.about-me-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

.about-me-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the image round */
    object-fit: cover;
    box-shadow: var(--shadow-box);
    margin-right: 1rem; /* Add some space between the image and text */
}

.about-me-content h3{
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: var(--highlight-color);
}


/* Education styles */
.education {
    margin-bottom: 40px;
    background-color: var(--section-color);
    color: var(--text-color);
    padding: .5rem 2rem .5rem 2rem;
    margin: 2rem auto; /* Center the div */
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    max-width: 800px; /* Set a maximum width */
    width: 90%; /* Ensure it looks good on smaller screens */
    text-align: left; /* Align text to the left */
}

.education-item {
    margin-bottom: 20px;
    padding: 10px;
    border: var(--border-color);
    border-radius: 5px;
    background-color: var(--item-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.education-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--highlight-color);
}

.education-item p {
    margin: 5px 0;
    color: var(--text-color);
}

.education-item .icon {
    margin-right: 10px;
    color: var(--highlight-color);
}

/* Skills styles */
.skills {
    background-color: var(--section-color);
    color: var(--text-color);
    padding: .5rem 2rem .5rem 2rem;
    margin: 2rem auto; /* Center the div */
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    max-width: 800px; /* Set a maximum width */
    width: 90%; /* Ensure it looks good on smaller screens */
    text-align: left; /* Align text to the left */
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

.skills li {
    background-color: var(--item-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: var(--border-color);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Project styles */
.projects {
    margin-top: 40px;
    background-color: var(--section-color);
    color: var(--text-color);
    padding: .5rem 2rem 2rem 2rem;
    margin: 2rem auto; /* Center the div */
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    max-width: 800px; /* Set a maximum width */
    width: 90%; /* Ensure it looks good on smaller screens */
    text-align: left; /* Align text to the left */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: var(--text-color);
    border: var(--border-color);
    border-radius: 5px;
    padding: 20px;
    box-shadow: var(--shadow-box);
    transition: transform 0.3s, box-shadow 0.3s;
    /* text-align: center; */
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    margin-top: 0;
    /* color: var(--highlight-color) !important; */
    font-size: 1.2rem;
}

.project-item p {
    /* color: var(--text-color) !important; */
    font-size: 0.9rem;
}
  
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
  
.project-item {
    /* needed to put button on right side */
    display: flex;
    flex-direction: column;
    /* --- */
    
    background-color: var(--item-color);
    border: var(--border-color);
    border-radius: 5px;
    padding: 20px;
    box-shadow: var(--shadow-box);
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
.project-item h3 {
    margin-top: 0;
    /* color: #333; */
    color: var(--highlight-color);
}
  
.project-item p {
    /* color: #666; */
    margin-top: 0;
    color: var(--text-color);
}

.project-image {
    width: 100%;
    height: 200px;
    border-radius: 2%; /* Make the image round */
    object-fit: cover;
    box-shadow: var(--shadow-box);
    margin-right: 1rem; /* Add some space between the image and text */
}

.project-item a {
    align-self: flex-end;
    background-color: var(--highlight-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.project-item a:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--hover-color);
    color: var(--text-color);
}

/* Contact styles */
.contact {
    background-color: var(--section-color);
    color: var(--text-color);
    padding: 2rem;
    margin: 2rem auto; /* Center the div */
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    max-width: 800px; /* Set a maximum width */
    width: 90%; /* Ensure it looks good on smaller screens */
    text-align: left; /* Align text to the left */
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0.5rem 0;
}

.contact a {
    color: var(--highlight-color);
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    /* Tablet view */
    .about-me-content {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .about-me-image {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .about-me, .education, .skills, .projects, .contact {
        padding: 1rem 2rem;
    }

    
}

@media (max-width: 768px) {

    .navbar{
        content: none;
    }
    /* Mobile view */
    h2{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-me-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .about-me-image {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .about-me, .education, .skills, .projects, .contact {
        padding: 1rem;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;       
    }

}


/* Back to Top Button Styles */
.back-to-top {
    position: fixed;
    /* bottom: 20px; */
    bottom: 0;
    /* right: 20px; */
    right: 15%;
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    /* border-radius: 20%; */
    border-radius: 10% 10% 0 0;
    width: 50px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: var(--shadow-box);
    transition: background-color 0.3s, color 0.3s;
}

.back-to-top:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
}